//Fonts

@font-face {
  src: url("../fonts/Analogue.otf");
  font-family: Analogue;
}

@font-face {
  src: url("../fonts/Avenir Roman.otf");
  font-family: Avenir;
}

@font-face {
  src: url("../fonts/Helvetica-Bold.ttf");
  font-family: Helvetica;
}

@font-face {
  src: url("../fonts/HelveticaNeue.otf");
  font-family: HelveticaNeue;
}

@font-face {
  src: url("../fonts/HelveticaNeue-Bold.otf");
  font-family: HelveticaNeue-Bold;
}

@font-face {
  src: url("../fonts/HelveticaNeue-Light.otf");
  font-family: HelveticaNeue-Light;
}

@font-face {
  src: url("../fonts/HelveticaNeue-Medium.otf");
  font-family: HelveticaNeue-Medium;
}

@font-face {
  src: url("../fonts/HelveticaNeue-Thin.otf");
  font-family: HelveticaNeue-Thin;
}

@font-face {
  src: url("../fonts/HelveticaNeue-UltraLight.otf");
  font-family: HelveticaNeue-UltraLight;
}

@font-face {
  src: url("../fonts/klavika-bold.otf");
  font-family: Klavika;
}
