$color_primary: #9BBCD8;
$color_secondary: #d4e2ee;
$blue: #316490;
$gray: #E7EAEF;
$light-blue: #6E8BA3;
$silver-1: #707070;
$silver-2: #919090;
$silver-3: #F7F7F7;
$silver-4: #E7E7E7;
$silver-5: #6C757D;
$black-4b: #4b4b4b;
$black-ab: #ABAAAC;